
.card-actions{
    display:flex;
    justify-content: space-between;
}

.favorites-icon{
    display:flex;
    justify-content: flex-end;
}
.buttonLink {
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    color: inherit;
  }