.Navbar{
  background: rgb(240,33,22);
  /*background: rgb(240,33,22);
  background: linear-gradient(90deg, rgba(240,33,22,1) 0%, rgba(94,170,220,1) 47%, rgba(233,180,61,1) 100%);*/
}

.box{
  display: flex;
  justify-content: space-between;
}
.menu-buttons{
  display:flex;
}

.pageLink{
  text-decoration: none;
}
.pageLink:hover {
  color: #fff200;
}

.authLinksContainer{
  display: flex;
  justify-content: end;

}
.authLink {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  color: inherit;
}


